WIFI_SSID=SSID
WIFI_PASS=pass
WEATHER_API_TOKEN=Token
WEATHER_API_URL=URL
WEATHER_API_FINGERPRINT=SHA1 fingerprint
CLOUD_TOKEN=token or pass
CLOUD_FINGERPRINT=fingerprint
CLOUD_URL=Url
WEBSOCKET_PORT=freeport